@{
    ViewBag.Title = "Contact";
}


<address>
    Moi Avenue<br />
  Nairobi CBD<br />
    <abbr title="Phone">P:</abbr>
    0713197824
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@movieden.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@movieden.com</a>
</address>