@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container align-items-center">
        <h1 class="display-5">RELIABLE . UP TO DATE . FULL REVIEWS </h1>
        <p class="lead">
            Do you need movie reviews, ratings and more relevant information? 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/image01.jpg" alt="..." class="img-thumbnail">
   
    </div>
   <div class="col-md-4">
        <img src="~/images/image02.jpg" alt="..." class="img-thumbnail">
   
    </div>
   <div class="col-md-4">
       <img src="~/images/image01.jpg" alt="..." class="img-thumbnail">

   </div>
</div>

<div class="container p-3 my-3 bg-dark text-white">
    <h1>Reliability is our Priority</h1>
    <p>Check out the latest series, reviews as well as ratings</p>
</div>